django~=3.2
scrapy~=2.5.0
itemadapter~=0.2.0
django-mptt~=0.12.0
beautifulsoup4~=4.9.3
python-dateutil~=2.8.1
crochet~=1.12.0
apscheduler~=3.7.0
requests~=2.25.1
djangorestframework~=3.12.4
python-dotenv~=0.17.1
django-cors-headers~=3.7.0
psycopg2
validators~=0.18.2